__pycache__/
*.pyc
node_modules/
FaMiLiS/node_modules/
FaMiLiS/dist/
FaMiLiS/.vite/
FaMiLiS/.env
FaMiLiS/**/*.log
FaMiLiS/**/__pycache__/
FaMiLiS/**/*.pyc
.git/
.vscode/
.idea/
*.log
.env
.venv
venv/
Thumbs.db
.DS_Store
